[Unit]
Description=Heating Monitor Service
After=network.target

[Service]
Type=simple
User=barna
WorkingDirectory=/home/barna/heating-monitor
ExecStart=/home/barna/heating-monitor/venv/bin/python /home/barna/heating-monitor/hardware/src/monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
