apiVersion: apps/v1
kind: Deployment
metadata:
  name: heating-backend
  labels:
    app: heating-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heating-backend
  template:
    metadata:
      labels:
        app: heating-backend
    spec:
      containers:
        - name: heating-backend
          image: heating-monitor-backend:v1
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 10
            timeoutSeconds: 5
